<!-- This file constitutes the html of the form from which a new task is created-->




<div>
  <div class="cancel" id="cancelIdCategory">X</div>
    <form class="new-categoy-form-container" id="newCategoryFormId" method="POST" >
      <div class="form-group">
        <label class="col-form-label">Category Name:</label>
          <input type="text" class="form-control input-sm" id="category_name" name="category_name"/>
    </div>

          <div class="form-group">
        <label class="col-form-label">Category Color:</label>
          <input type="text" class="form-control input-sm" id="category_color" name="category_color"/>
    </div>



    <div class="btn-group">
      <input type="submit" class="btn btn-default btn-space" value="Submit" id="catFormSubmit">
  </form>

</div>
