<div class="form-group long-term-form-container">
<form class="long-term-form">
        <span class="cancel" id="cancelIdLongTerm">X</span>

<div align="center" class="form-group row">
    <fieldset>

    <select id="amountLongTimeUnits">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
    <select id="longTimeUnit">
      <option value="weeks">weeks</option>
      <option value="months">months</option>
    </select>

    </fieldset>
     </div>

    <fieldset>
      <button name="submit" type="submit" id="longTermSubmit">Submit</button>
    </fieldset>


  </div>


  </form><br/>

  </div>
