<!-- This file constitutes the html of the form from which a new task is created-->
<div>

  <div class="cancel" id="cancelIdTask">X</div>
    <form class="new-task-form-container" id="newTaskFormId" method="POST" >

    <div class="form-group">
        <label class="col-form-label">New Task Name:</label>
          <input type="text" class="form-control input-sm" id="new_task_input" name="new_task_input"/>
    </div>
    <div class="form-group ">
        <label class="col-form-label">Category:</label>
          <select  class="form-control" id="new_task_category" name="new_task_category">
            {% for cat in categories%}
            <option value="{{ cat.category_id }}">{{ cat.category_name }}</option>
            {% endfor %}
          </select> <br />
    </div>

    <div class="form-group ">
        <label>Start Date:</label>
        <input type='date' class="form-control input-sm" id="new_task_start_date_input" name="new_task_start_date_input"><br />
    </div>

    <div class="form-group ">
        <label>End Date:</label>
        <input type='date' class="form-control input-sm" id="new_task_end_date_input" name="new_task_end_date_input"><br />
    </div>

        <div class="form-group">
        <label class="col-form-label">Milestone Name:</label>
          <input type="text" class="form-control input-sm" id="task_milestone_name" name="task_milestone_name"/>
    </div>


    <div class="form-group ">
        <label>Milestone Date:</label>
        <input type='date' class="form-control input-sm" id="task_milestone_date" name="task_milestone_date"><br />
    </div>

    <div class="form-group ">
         <input type="submit" class="btn btn-default" value="Submit" id="taskFormSubmit">
    </div>
  </form><br/>

</div>
