
<div>
    <form class="form-inline new-task-form-container" id="newTaskFormId" method="POST" >
      <div class="form-group">
        <span class="cancel" id="cancelIdTask">X</span>
      </div>

    <div class="form-group row">
        <label class="col-10 col-form-label">New Task Name:</label>
        <div class="col-10">
          <input type="text" class="form-control input-sm" id="new_task_input" style="margin-bottom:30px;" name="taskNameAttribute"/>
        </div>
    </div>
    <br/><br/><br/>
    <div class="form-group row">
        <label>Category:</label>
          <select id="new_task_category" name="new_task_category">
            {% for cat in categories%}
            <option value="{{ cat.category_name }}">{{ cat.category_name }}</option>
            {% endfor %}
          </select> <br />
    </div>

    <div class="form-group row">
        <label>Start Date:</label>
        <input type='date' class="form-control input-sm" id="new_task_start_date_input" name="new_task_start_date_input" style="margin-right:50px"><br />
    </div>

    <div class="form-group row">
        <label>End Date:</label>
        <input type='date' class="form-control input-sm" id="new_task_end_date_input" name="new_task_end_date_input" style="margin-right:50px"><br />
    </div>

    <div class="form-group row">
        <label>Milestones:</label>
        <input type='button' class="btn btn-outline-secondary" id="newMilestoneButton" style="margin-right:100px" value="+" onclick="addMilestoneForm()"><br />
    </div>

    <div class="form-group row">
         <input type="submit" class="btn btn-default" id="taskFormSubmit" style="margin-top:20px">
    </div>
  </form><br/>

</div>
