
<div>

  <span class="cancel" id="cancelIdTask">X</span>
    <form class="col-lg-10 new-task-form-container" id="newTaskFormId" method="POST" >

      <div class="form-group">

      </div>

    <div class="form-group">
        <label class="col-10 col-form-label">New Task Name:</label>
        <div class="col-10">
          <input type="text" class="form-control input-sm" id="new_task_input" name="new_task_input"/>
        </div>
    </div>
    <br/><br/><br/>
    <div class="form-group ">
        <label>Category:</label>
          <select id="new_task_category" name="new_task_category">
            {% for cat in categories%}
            <option value="{{ cat.category_id }}">{{ cat.category_name }}</option>
            {% endfor %}
          </select> <br />
    </div>

    <div class="form-group ">
        <label>Start Date:</label>
        <input type='date' class="form-control input-sm" id="new_task_start_date_input" name="new_task_start_date_input"><br />
    </div>

    <div class="form-group ">
        <label>End Date:</label>
        <input type='date' class="form-control input-sm" id="new_task_end_date_input" name="new_task_end_date_input"><br />
    </div>


    <div class="form-group ">
         <input type="submit" class="btn btn-default" value="Submit" id="taskFormSubmit">
    </div>
  </form><br/>

</div>
