 <div class="form-group">
       </div>
      <form method="POST" action="" class="form-inline form-container category-form">
        <div class="cancelCatFilloutDiv">
        <a class="cancel cancelCategoryFillout" id="cancelId" onclick="cancelFillingOutCategoryForm()">X</a>
    </div>

        <label>New Category:</label>

        <input type="text" id="category-name" name="categoryNameAttribute"/>
        <label>Color:</label>
        <input type="text" id="category-color" name="categoryColorAttribute">
        <input type="submit" class="btn btn-default" onclick="closeNewCategoryForm()">
      </form><br/>