{% extends "layout.html" %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/timeline.css') }}">
{% block content %}
<div class="form-group">
      <form class="form-inline form-container category-form" action="" method="POST" >


        <label id="NewCatLabel">New Category:</label>
        <div id="NewCatNameInput">{{ new_category_form.category_name }}</div>
        <label id="NewCatColorLabel">Color:</label>

        {{ new_category_form.category_color }}
        {{ new_category_form.submit }}



      </form><br/>
      </div>
{% endblock content %}
