
    <div class="form-group">
     
       <form class="form-inline new-taskform-container task-form" action="" method="POST" >
        
        <a class="cancel" id="cancelId" onclick="cancelFillingOutTaskForm()">X</a>
    </div>

        <label>New Task:</label>

        <input type="text" id="new_task_input" name="taskNameAttribute"/>

        <label>Start Date</label>
        <input type='date' id="new_task_start_date_input">
       
         <input type="submit" class="btn btn-default" onclick="closeNewTaskForm();">
    

    </form><br/>
  </div>
     


    



