    <form class="form-inline new-task-form-container" action="" method="POST" >
      <div class="form-group">
        <a class="cancel" id="cancelId" onclick="cancelFillingOutTaskForm()">X</a>
    </div>

        <label>New Task Name:</label>
        <input type="text" id="new_task_input" name="taskNameAttribute"/>
        <label>Category:</label>
        <select id="new_task_category">
          <!-- This needs to be given a proper input of "categories" -->
          {% for cat in categories%}
          <option value="{{cat}}">{{cat}}</option>
          {% endfor %}
        </select> <br />
        <label>Start Date:</label>
        <input type='date' id="new_task_start_date_input" style="margin-right:50px"><br />
        <label>End Date:</label>
        <input type='date' id="new_task_end_date_input" style="margin-right:50px"><br />

        <label>Milestones:</label>
        <button class="btn btn-outline-secondary" style="margin-right:100px" onclick="">+</button><br />


         <input type="submit" class="btn btn-default" style="margin-top:20px" onclick="closeNewTaskForm();">
       </form><br/>
  </div>
