<form class="form-inline form-container taskForm" action="/task_viz" method="POST">
  <a class="cancel" id="cancelId" onclick="cancelFillingOutTaskForm()">X</a>
  <div class="">
    {{taskForm.task_name.label}} {{taskForm.task_name(class='form-control')}}
  </div>
  <div class="">
    {{taskForm.task_start_date.label}} {{taskForm.task_start_date(class='form-control', type='date')}}
  </div>
  <div class="">
    {{taskForm.task_end_date.label}} {{taskForm.task_end_date(class='form-control', type='date')}}
  </div>
  <div class="">
    {{taskForm.category.label}} {{taskForm.category(class='form-control')}}
  </div>
  <div class="form-group">
      {{taskForm.submit(class="btn btn-default")}}
  </div>
</form>