<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>
<body>
<div class="p-5 content-section">
<script>
  document.body.style.backgroundColor = "#D5D6D2";
</script>
    <form method="POST" action="">
            <fieldset class="form-group">
            <legend class="mb-4">{{ legend }}</legend>
            <div class="form-group">
                {{ new_category_form.category_name.label }}
                {% if new_category_form.category_name.errors %}
                    {{ new_category_form.category_name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in new_category_form.category_name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ new_category_form.category_name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ new_category_form.category_color.label}}
                {% if new_category_form.category_color.errors %}
                    {{ new_category_form.category_color(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in new_category_form.category_color.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ new_category_form.category_color(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>


         <div class="btn-group"">
              <input type="submit" class="btn btn-default btn-space" value="Submit" style= "background-color: #3A5199; color: white" id="catFormSubmit">
  </form>





               <form action="{{ url_for('delete_category', category_id=category_id) }}" method="POST">
            <input class="btn btn-default btn-space btn-danger" type="submit" value="Delete">
          </form>
        </div>


</body>
</html>
