{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block head %}
  {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
  {% endblock %}
{% block content %}

    

    <div class="my-container">
   
        <div class="vertical-center align-items-center">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
    
                <h1> Welcome! </h1>
                <div class="">
                    {{ form.email.label(class="") }}<br>
                    {% if form.email.errors %}
                        {{ form.email(class="is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="") }}
                    {% endif %}
                </div>
                <div >
                    <br>
                    {{ form.password.label(class="") }}
                    <br>
                    {% if form.password.errors %}
                        {{ form.password(class="is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="") }}
                    {% endif %}
                </div>
       
            <div class="">
                <br>
                {{ form.submit(class="loginButton") }}

            </div>
             <br>
                <a href="#">Forgot Password?</a> &nbsp; | &nbsp; <a href="{{ url_for('register') }}"> Need to create account? </a>
       
        </form>

    <div>
      
            
  
    </div>




</div>
</div>
    
{% endblock content %}