{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block head %}
  {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reg-login.css') }}">
  {% endblock %}
{% block content %}

    <div class="my-container">
        <div class="vertical-center align-items-center">
        
          {% with messages = get_flashed_messages() %}
           
            {% if messages %}
                {%for message in messages %}
             <ul class="alert alert-success">
                
            <li>{{ message }}</li>
            </ul>
            {% endfor %}
                 {% endif %}
              
              
       
          {% endwith %}
        <form method="POST" action="">
            {{ form.hidden_tag() }}
                <h1> Welcome! </h1>
                <div class="">
                    {{ form.email.label(class="") }}<br>
                    {% if form.email.errors %}
                        {{ form.email(class="is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control") }}
                    {% endif %}
                </div>
                <div >
                    <br>
                    {{ form.password.label(class="") }}
                    <br>
                    {% if form.password.errors %}
                        {{ form.password(class="is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control") }}
                    {% endif %}
                </div>
            <div class="">
                <br>
                {{ form.submit(class="loginButton") }}
            </div>
             <br>
                <a href="#">Forgot Password?</a> &nbsp; | &nbsp; <a href="{{ url_for('register') }}"> Need to create account? </a>
        </form>
</div>
</div>

{% endblock content %}
