{% extends "layout.html" %}
{% block title %}Task Viz{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<body>



	<!-- Form Popups -->
	<div class="form-popup bd-highlight mb-3">

		<div class="form-popup shortTermFormClass p-2 bd-highlight" id="shortTermForm">
			{% include 'popups/short_term_form.html' ignore missing %}
		</div>
		<div class="form-popup longTermFormClass p-2 bd-highlight" id="longTermForm">
			{% include 'popups/long_term_form.html' ignore missing %}
		</div>
		<div class="form-popup p-2 bd-highlight" id="newTaskForm">
			{% include 'popups/task_form.html' ignore missing %}
		</div>
		<div class="form-popup p-2 bd-highlight" id="newCategoryForm">
			{% include 'popups/category_form_popup.html' ignore missing %}
		</div>
    </div>
	<div class="grid-container">
		<div class="Timeline" id="timelineId">
			<div class="inline-elements">
			<!-- Top bar for user input -->
				<div class="p-4">
					<label>Start date:</label>
					<input type="date" id="start" value="" min="" max="" >
        	<a class="btn btn-outline-danger" style="float: right; border: solid 1px black;" href="{{url_for('logout')}}">Logout</a>

					<div class="topButtons">
          	<button style="float: right; margin-left:40px; border: solid 1px black;" class="btn btn-success" id="newTaskButton"> New Task + </button>
						<div class="term-btn-group">
							<button class="btn btn-outline-primary" id="shortTermButton">Short Term</button>
							<button class="btn btn-outline-primary" id="longTermButton">Long Term</button>
							</div>
					</div>
          <h3 class="pl-4" style="margin:auto">{{ current_user.firstname }}'s Timeline</h3>
				</div>
			</div>
				<hr style="border: 2px solid grey;">

			<!-- Main area for timeline display -->
				<div class="pr-4 pr-4 pb-4 pl-4" id=dates>
					<div class="timeIncrementHeaderHolder mt-1 d-flex justify-content-around" id="datesContainer">
						
						<span class="sTermTimeIncColHeader" id="sTermTimeSlot0">date</span>
						<span class="sTermTimeIncColHeader" id="sTermTimeSlot1">date</span>
						<span class="sTermTimeIncColHeader" id="sTermTimeSlot2">date</span>
						<span class="sTermTimeIncColHeader" id="sTermTimeSlot3">date</span>
						<span class="sTermTimeIncColHeader" id="sTermTimeSlot4">date</span>
						<span class="sTermTimeIncColHeader" id="sTermTimeSlot5">date</span>
						<span class="sTermTimeIncColHeader" id="sTermTimeSlot6">date</span>
				
						
						<span class="lTermTimeIncColHeader" id="lTermTimeSlot0">date</span>
						<span class="lTermTimeIncColHeader" id="lTermTimeSlot1">date</span>
						<span class="lTermTimeIncColHeader" id="lTermTimeSlot2">date</span>
						<span class="lTermTimeIncColHeader" id="lTermTimeSlot3">date</span>
						<span class="lTermTimeIncColHeader" id="lTermTimeSlot4">date</span>
						<span class="lTermTimeIncColHeader" id="lTermTimeSlot5">date</span>
						<span class="lTermTimeIncColHeader" id="lTermTimeSlot6">date</span>
					</div>
				</div>
            </div>
		


	<!-- Sidebar of catgories  -->
	<div class="Category p-4" id="categoryContainer">
		<!-- <a class="btn btn-success" id="new-cat-btn" href="{{ url_for('category') }}"> New Category +</a> -->
			<div class="mb-5" style="">
			<button class="btn btn-success" id="new-cat-btn" style="margin-left:40px; margin-bottom:20px; border: solid 1px black;">New Category +</button>
		</div>
		<div class="mt-5" id="categoryList">
<!-- 			{% for category in categories %}


			<div id="category{{ category.category_id }}" style="color:#{{ category.category_color }}" class="d-flex p-2 ">
				<label class="checkmarkContainer">
			  <span class="checkmark">

			  	<input type="checkbox"  value="" id="category{{ category.category_id }}" class="checkbox checkbox-primary" style="border-color:#{{ category.category_color }};" name="category{{ category.category_id }}"> 

  </span>
</label>

			<label for="category{{ category.category_id }}">
			

 <a class=" category-name btn rounded text-center" style="border-color:#{{ category.category_color }};" href="category/{{category.category_id}}/edit">
					{{ category.category_name }}
				</a> </label>


		</div>

		



				{% endfor %} -->

			<div id="background" class="alert success background" role="alert" style="display:none;"></div>
		</div>
	</div>
   
   </div>

</body>
{% endblock content %}
