<form class="form-inline form-container category-form" action="/tasks" method="post">
  <div class="">
    {{task_form.task_name.label}} {{task_form.task_name(class='form-control')}}
  </div>
  <div class="">
    {{task_form.task_start_date.label}} {{task_form.task_start_date(class='form-control', type='date')}}
  </div>
  <div class="">
    {{task_form.task_end_date.label}} {{task_form.task_end_date(class='form-control', type='date')}}
  </div>
  <div class="">
    {{task_form.category.label}} {{task_form.category(class='form-control')}}
  </div>
  <div class="form-group">
      {{task_form.submit(class="btn btn-default")}}
  </div>
</form>
