<!DOCTYPE html>
<html>
<head>
	<title>Weekly Planner</title>
	<link rel="stylesheet" type="text/css" href="app.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script type=text/javascript src="{{url_for('static', filename='js/weekly_planner.js') }}"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/weekly_planner.css') }}">
</head>
<body>

	<h1>
		Weekly Planner
		<button id="new_event_button" type="button"  onclick="displayForm();"> + Add New Event</button>
	</h1>

	<div id="week">
		<div class="day-col">
			<div class="title">Sunday</div>
			<div class="content"></div>
		</div>
		<div class="day-col">
			<div class="title">Monday</div>
			<div class="content"></div>
		</div>
		<div class="day-col">
			<div class="title">Tuesday</div>
			<div class="content">
			</div>
		</div>
		<div class="day-col">
			<div class="title">Wednesday</div>
			<div class="content"></div>
		</div>
		<div class="day-col">
			<div class="title">Thursday</div>
			<div class="content"></div>
		</div>
		<div class="day-col">
			<div class="title">Friday</div>
			<div class="content"></div>
		</div>
		<div class="day-col">
			<div class="title">Saturday</div>
			<div class="content"></div>
		</div>
	</div>

	<div id="add_event_form" style="display:none">
		<form id="myForm">
			Event Name:<br><input id="eventNameId" type="text" name="eventName"><br><br>
			Location:<br><input id="locationId" type="text" name="eventLocation"><br><br>
			Day: <br><select id="daysInWeekId"></select><br><br>
			Start Time:<br><select name="startTime15MinInterval" id="startTimeFifteenMinInterval"></select><br><br>
			End Time:<br><select name="endTime15MinInterval" id="endTimeFifteenMinInterval"></select><br><br>
		</form>
		 <input id="submitButtonId" type="submit" onclick="closeFormAndGetInputs();"><br/>
	</div>
	<script type="text/javascript" src="app.js"></script>
</body>
</html>
